
*.v2
*.v2
*.v1
*.v2
*.v1
UseLess/.vs/UseLess/DesignTimeBuild/.dtbcache.v2
*.v2
*.v2
*.v1
UseLess/.vs/UseLess/DesignTimeBuild/.dtbcache.v2
UseLess/.vs/UseLess/v17/.futdcache.v1

#Autosave files
*~

#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

#Mac bundle stuff
*.dmg
*.app
